:root {
  --html-percentage: 75%;
  --css3-percentage: 70%;
  --javaScript-percentage: 65%;
  --typeScript-percentage: 50%;
  --react-percentage: 60%;
  --python-percentage: 70%;
}

#about {
  position: fixed;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  height: 50%;
  top: 25%;
  display: flex;
}

#about-wrap {
  display: flex;
  max-width: 1000px;
  padding: 0 15 px;
  box-sizing: border-box;
  height: 100%;
  margin: 0 auto;
}

.about-titles {
  font-size: 40px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 50px;
}

#about-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin-right: 50px;
}

#about-introduce {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-introduce-discription {
  color: #ffffff;
}

#about-keyword {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#about-keyword-lists {
  display: flex;

  width: 100%;
  justify-content: space-around;
}

.about-keyword-list {
  /* margin-right: 38px; */
  text-align: center;
}

.about-keyword-text {
  color: #ffffff;
}

.about-keyword-icons {
  color: #ffffff;
  font-size: 50px;
}

.about-keyword-list:hover {
  animation: bounce 0.3s infinite alternate;
  color: #f2c94c;
}

.about-keyword-list:hover .about-keyword-text {
  color: #f2c94c;
}
.about-keyword-list:hover .about-keyword-icons {
  color: #f2c94c;
}

/* .about-keyword-list:nth-child(1) {
  animation-delay: 1s;
}

.about-keyword-list:nth-child(2) {
  animation-delay: 2s;
}

.about-keyword-list:nth-child(3) {
  animation-delay: 3s;
}

.about-keyword-list:nth-child(4) {
  animation-delay: 4s;
} */

#about-skills {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

#about-skills > ul {
  width: 100%;
}

#about-wrap::-webkit-scrollbar {
  width: 5px;
}

#about-wrap::-webkit-scrollbar-thumb {
  background-color: #a5a5a5;
}

#about-wrap::-webkit-scrollbar-track {
  background-color: #302e2e;
}

@media (max-width: 800px) {
  #about-wrap {
    flex-direction: column;
    max-width: 500px;
    overflow-y: scroll;
  }

  #about-left {
    width: 100%;
    margin-bottom: 30px;
    margin-right: 0;
  }

  #about-skills {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .about-keyword-icons {
    font-size: 30px;
  }
  .about-keyword-text {
    font-size: 13px;
  }
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

@keyframes HTML5 {
  from {
    width: 0;
  }
  to {
    width: var(--html-percentage);
  }
}

@keyframes CSS3 {
  from {
    width: 0;
  }
  to {
    width: var(--css3-percentage);
  }
}

@keyframes JavaScript {
  from {
    width: 0;
  }
  to {
    width: var(--javaScript-percentage);
  }
}

@keyframes TypeScript {
  from {
    width: 0;
  }
  to {
    width: var(--typeScript-percentage);
  }
}

@keyframes React {
  from {
    width: 0;
  }
  to {
    width: var(--react-percentage);
  }
}

@keyframes Python {
  from {
    width: 0;
  }
  to {
    width: var(--python-percentage);
  }
}
