#contact {
  position: relative;
  bottom: -40px;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-icons {
  font-size: 40px;
  color: #ffffff;
  margin-right: 20px;
}

.link-icons:hover {
  color: #f2c94c;
  transition: color 300ms ease;
}

@media (max-width: 800px) {
  #contact {
    bottom: -30px;
  }

  #contact > a {
    margin-right: 10px;
  }
}
