#works {
  width: 100%;
  padding: 50px 20px;
  box-sizing: border-box;
  height: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#works-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

#works-lists {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.works-list {
  width: 100%;
  position: relative;

  display: flex;
  justify-content: center;
  gap: 30px;
}

.works-list-image {
  width: 500px;
  height: 100%;
  opacity: 1;
  transition: all 300ms ease;
}

.works-list-detail {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.works-list-detail-subscription {
  font-size: 20px;
  color: #ffffff;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.works-list-detail-title {
  font-size: 25px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.works-list-detail-languages {
  margin-bottom: 20px;
  text-align: center;
}

.languages-icons {
  font-size: 40px;
  color: #ffffff;
  margin-right: 10px;
}

.works-link-icons {
  font-size: 40px;
  color: #ffffff;
}

.works-link-icons:hover {
  color: #f2c94c;
  transition: color 300ms ease;
}

#imageSequenceOperation {
  position: relative;
  top: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  font-size: 40px;
}

#imageSequence {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  align-items: center;
}

.sequence {
  background-color: #ffffff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}

.imageSequenceChangeBtn {
  color: #ffffff;
  cursor: pointer;
  font-size: 58px;
  line-height: 58px;
}

.imageSequenceChangeBtn:hover {
  color: #f2c94c;
}

/* #works-lists:hover .works-list-image {
  opacity: 0.3;
  transition: all 300ms ease;
} */

/* #works-lists:hover .works-list-detail {
  opacity: 1;
  transform: translateY(0);
  transition: all 300ms ease;
} */

@media (max-width: 800px) {
  .imageSequenceChangeBtn {
    font-size: 35px;
    line-height: 35px;
  }
  .sequence {
    width: 7px;
    height: 7px;
  }
}

@media (max-width: 600px) {
  #works-wrap {
    width: 280px;
    height: 200px;
  }

  #works-lists {
    width: 280px;
    height: 200px;
  }

  .works-list-image {
    width: 280px;
  }

  .works-list-detail-title {
    font-size: 15px;
    margin-bottom: 3px;
  }

  .works-list-detail-subscription {
    font-size: 11px;
    margin-bottom: 3px;
  }

  .works-list-detail-languages {
    margin-bottom: 3px;
  }
  .languages-icons,
  .works-link-icons {
    font-size: 15px;
  }
}
